body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#dashboard {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 50% 10% 40%;
}

.left-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: red;

}

.calender {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: blue;

}

.chat {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: purple;

}

.events {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: pink;
}

.invoices {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: yellow;
}

.event-heading  {
    text-align: center; 
}
.event-box {
    float: left;
    margin: 40px;
    margin-top: -20px;
}

