/* -- rate colors --*/
:root {
  --colDesk: #C39BD3;
  --colGall: #7FB3D5;
  --colMeet: #7DCEA0;
  --colThea: #F0B27A;
  --colOutd: #808B96;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

/* ----------------------------------------- */
/*               Tooltip section             */
/* ----------------------------------------- */

#tooltip{
  visibility: hidden;
  position:absolute;
  background-color: lightgray;
  width: 12vw;
  height: 10vh;
  opacity:0.85;
  border-radius: 6px;
  font-size: 1em;
  font-weight: bold;
  padding: 2px;
}

/* ----------------------------------------- */
/*               Assets section             */
/* ----------------------------------------- */

#assets {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 6% 5% 70% 19%;
}

.asset-title {
/*
    grid-column: span 2;
    grid-row: span 2;
*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgray;
}
.asset-title h5 {
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 2.5em;
    margin-top: 0px;
}

.asset-location {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #fff;
}

.asset-calendar {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.asset-rooms {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #fff;
    border: 1px solid black;
}

/* ----------------------------------------- */
/*              Calendar section             */
/* ----------------------------------------- */

/* --- Calendar Grid --- */
.room-calendar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1.5em) repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
/*    border: 2px solid #fff; cecece*/
    background-color: #fff;
}

.room-calendar-weekday {
    padding: 0;
}

.room-calendar-item {
    padding-left: 2px;
    border: 1px solid #cecece;
    background-color: #cecece;
    box-shadow: 1px 1px 1px;

}

.room-calendar-month {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    font-size: 300%;
    background-color: white;
    text-shadow: 1px 1px 2px lightgray;
}

.room-calendar-icon {
    display: block;
    font-size: 400%;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0;
    margin: auto;
}

.calendar-weekday {
    font-weight: 400;
    margin: auto;
    text-align: center;
}

/* --- Rooms of Day Grid --- */
.rooms-by-day {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.rate1 {
    background-color: var(--colDesk);
}
.rate2 {
    background-color: var(--colMeet);
}
.rate3 {
    background-color: var(--colGall);
}
.rate4 {
    background-color: var(--colThea);
}
