/* .client-table th, .client-table td {
    text-align: left;}
.client-table {
    border-collapse: collapse; 
    border: 1px solid #ddd; 
}

.client-table tr {
    border-bottom: 1px solid #ddd;
}

.client-table tr.header, .client-table tr:hover {
    background-color: #f1f1f1;
  }
*/

.page {
    height:100vh;
}

.back {
    height:10%;
}

.client-table {
    height:90%;
}