.client-table th, .client-table td {
    text-align: left;}
.client-table {
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
}

.client-table tr {
    border-bottom: 1px solid #ddd;
}

.client-table tr.header, .client-table tr:hover {
    background-color: #f1f1f1;
  }