/* primary-color-light: #72BCFF */
/* primary-color-dark: #005BB6  */
/* dark-blue:rgb(11, 11, 45) */
/* font-color-grey: #333 */
/* grey-light: #777 */

/* 1rem = 10px */


/* ============================================================================================== */  
/* Basic set up */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; }
  /*-- 10 / 16 * 100 --*/

body {
  box-sizing: border-box; 
}

/* ------------------------------------- */
/*  REUSABLE COMPONENTS */
/* ------------------------------------- */


/* ============================================================================================== */  
/* Typography/ Headings */

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  animation: moveInLeft 1s;
  backface-visibility: hidden; 
}

  .heading-primary--main {
    display: block;
    color: #fff;
    letter-spacing: .2rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    background-image: linear-gradient(to right, #005BB6, #72BCFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
  }

  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    color: #f2f2f2;
    letter-spacing: .1rem; 
  }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: transparent;
  background-image: linear-gradient(to right, #005BB6, #72BCFF);
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-secondary--white{
  color: #fff !important;
  font-weight: 300;
  text-align: center;
  margin-top: 4rem;
}

.heading-secondary--sub {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(94, 94, 94));
  -webkit-background-clip: text;
  background-clip: text;
}


.heading-secondary--black {
  font-weight: 400;
  color: transparent;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(94, 94, 94));
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-tertiary {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; 
}
    


/*--------------------Paragraphs--------*/

.paragraph-main{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2rem;
    margin-top:3rem;
    color: #333;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

.paragraph-sub{
    line-height: 145%;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 10px;
    margin-top:10px;
    color: #333;
    font-size: 170%;
    text-align: center;
    font-weight: 300;
}



/* ============================================================================================== */  
/* Keyframes/Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px) 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0) }
   }
    
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px)
   }
    100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0) } 
  }
    
@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px) 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0) }
   }
    
@keyframes fadeIn {
  0% {
    opacity: 0;
   }
  60% {
    border: 1px solid #72BCFF;
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
   }
  100% {
    opacity: 1; } 
  }

/* ============================================================================================== */    
/* Utilities */

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4rem !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-xsmall {
  margin-top: 2rem !important; }

/* ============================================================================================== */   
/* Buttons */

.btn, 
.btn:link, 
.btn:visited, 
input[type=submit] {
  color: #fff;
  text-decoration: none;
  padding: 1rem 4rem;
  border: 1px solid #005BB6;
  border-radius: 1rem;
  font-size: 2rem;
  display: inline-block;
  transition: .3s; 
}


.btn:hover, 
input[type=submit]:hover {
  border: 1px solid #72BCFF;
  transform: scale(1.01); 
}

.btn__animated {
  animation: fadeIn 2s .5s backwards;
  transform: scale(1.01); 
}


.btn--light-blue {
  color: #72BCFF;
  border: 1px solid #72BCFF;
  border-radius: 1rem; 
}

.btn--white {
  border: 1px solid #fff !important;
  border-radius: 2px;
}

.btn--light-blue:hover {
  border: 1px solid #005BB6;
  color: #005BB6;
  transform: scale(1.01); 
}


/* ============================================================================================== */   
/* Navigation   */

.nav__list {
  position: absolute;
  top: 4rem;
  right: 4rem; 
}

.nav__item {
  list-style: none;
  font-size: 2.2rem; 
}

.nav__link:link, 
.nav__link:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: transparent;
  transition: all .3s;
  animation: moveInRight 1.2s; 
  backface-visibility: hidden;
}

.nav__link:link:not(:last-child), 
.nav__link:visited:not(:last-child) {
  margin-right: 1rem; 
}

.nav__link:hover, 
.nav__link:active {
  color: #72BCFF;
  border-bottom: 1px solid #72BCFF; 
}


/* ============================================================================================== */
/* header */

.header {
  height: 90vh;
  background-image: linear-gradient(
    to right bottom, 
  rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), 
    url(../img/header-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.heading-text-box {
  position: absolute;
  top: 30rem;
  left: 10rem;
  padding: 1rem; 
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem; 
}

.logo {
  height: 8rem; 
}

/* ============================================================================================== */
/* bottom */

.bottom-nav {
  height: 10vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: space-around;
  align-items: center;
}  
  
  .bottom-nav__link {
    display: inline-block;
    font-size: 3rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #005BB6, #72BCFF);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    animation: moveInTop 1s; 
  }

  .bottom-nav__link:hover {
    background-image: linear-gradient(to right, #72BCFF, #005BB6);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; 
  }


/* ============================================================================================== */
/* SECTIONS */
/* ============================================================================================== */


/*------------- Spaces Section -----------------*/

/*----- spaces section heading  -----*/
.section-spaces__heading {
  background: #fff;
  padding: 9rem 0;
  background: #ffffff;
}

.section-spaces__heading p {
  margin: 0 auto;
  font-size: 2rem;
  width: 50%; 
}

/*-----------------------*/

.spaces__meeting,
.spaces__theatre,
.spaces__desk,
.spaces__gallery {
  padding: 15rem 0 19rem 0;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.7);
}


/*----- spaces background  -----*/
.spaces__meeting {
  background-image: linear-gradient(-90deg, #ffffff 0%, #ffffff 35%, rgba(0, 91, 182, 0.8) 100%);
  /* border-bottom: 1px solid #72BCFF;  */
}

.spaces__theatre {
  background-image: linear-gradient(-90deg, rgba(0, 91, 182, 0.8) 0%, #ffffff 65%, #ffffff 100%);
  /* border-bottom: 1px solid #72BCFF;  */
}

.spaces__desk {
  background-image: linear-gradient(-90deg, #ffffff 0%, #ffffff 35%, rgba(0, 91, 182, 0.8) 100%);
  /* border-bottom: 1px solid #72BCFF;  */
}

.spaces__gallery {
  background-image: linear-gradient(-90deg, rgba(0, 91, 182, 0.8) 0%, #ffffff 65%, #ffffff 100%);
  /* border-bottom: 1px solid #72BCFF;  */
}


/*------ spaces heading -----*/
.spaces__heading {
  position: relative;
  background: #0b0b2d;
  padding: 4rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.spaces__heading--right {
  left: -5rem;
  padding-left: 14rem; 
}

.spaces__heading--left {
  left: 5rem;
  padding-left: -14rem; 
}

/*------ spaces text -----*/
.spaces__text-box {
  position: relative;
  font-size: 2rem;
}

.spaces__text-box--right {
  top: 5rem;
  padding-left: 8rem;
}

.spaces__text-box--left {
  top: 5rem;
  padding-right: 7rem; 
}

.spaces__list {
  list-style: none; 
}

.spaces__list--right {
  text-align: right !important; 
}

.spaces__item {
  margin: 1rem 1rem 1rem 0;
  position: relative; 
}

.spaces__item--left, 
.spaces__item--right {
  display: inline-block;
  width: 2.5px;
  height: 3rem;
  background: #72BCFF; 
}

.spaces__item--left {
  margin-right: .5rem; 
}

.spaces__item--right {
  margin-left: .5rem;
  text-align: right; 
}


/*------ spaces image -----*/
.spaces__image {
  width: 120%;
  position: absolute;
  border-radius: 2px;
  z-index: 20;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  filter: brightness(90%); 
}

.spaces__img-box {
  position: relative;
}

.spaces__image-theatre, 
.spaces__image-gallery {
  height: 40rem; 
}

.spaces__image--left {
  top: 5rem; 
}

.spaces__image--right {
  top: 5rem;
  right: 0;
}

/* ============================================================================================== */  

/*------- Testimonials Section ----- */

.section-testimonials {
  background: rgb(50, 102, 180);
  padding: 9rem;
  position: relative;
}

.section-testimonials:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../img/cement.JPG);
  opacity: .25;
  top: 0;
  left: 0;
  background-size: cover;
}

.testimonials__heading {
  margin-bottom: 8rem;
}

.testimonials__box {
  background: rgb(58, 58, 58);
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  padding: 2rem;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 3.8rem 2rem 2rem 2rem;
}

.testimonials__box--middle {
  top: 3rem;
}

.testimonials__box:after {
  content: '';
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: rgb(58, 58, 58);
  transform: rotate(225deg) translateX(-50%);
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 45%;
  bottom: -.4rem;
}

.testimonials__img {
  position: absolute;
  height: 7rem;
  border-radius: 3px;
  border: 1px solid #fff;
  left: 2rem;
  top: -4rem;
}

.testimonials__text {
  font-style: italic;
}

.testimonials__text:before {
  content: '\201C';
  font-size: 2rem;
}

.testimonials__client {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  position: relative;
}

.testimonials__client--middle {
  top: 3rem;
}


.testimonials__client-name {
  font-size: 1.6rem;
}

.testimonials__client-company {

}

.down-arrow {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(225deg);
  height: 2rem;
  width: 2rem;
}

/* ============================================================================================== */
/* Upcoming Events */
/* ============================================================================================== */
.section-events{
  padding: 10rem;
  background: #f4f4f4;
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../img/events-section-bg.jpeg);
  background-size: cover;
  background-position: center;
}

.events__heading {
  margin-bottom: 8rem;
}

.events {
  color: #fff;
  display: flex;
  margin: 2rem;
  margin-left: 0;
}

.events__date {
  font-size: 2.5rem; 
}

.events__text--main {
  font-size: 2.2rem;
  margin-top: -.5rem;
}

.events__text--sub {
  font-size: 1.8rem;
}

/* ============================================================================================== */
/* Section Form */

.section-contact {
  background: #20253c;
  border-top: 1px solid #343b60;
  border-bottom: 1px solid #343b60;
  padding: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__group, 
.form__group--textarea {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.form__label {
  color: #fff;
}

.form__group--textarea {

}

.form__group-box {
  display: flex;
  justify-content: space-between;
}

.form__group {
  width: 48%;
  position: relative;
  margin-top: 7rem;
}

.form__input {
  padding: 3rem 0 1rem 1rem;
  font-size: 1.7rem;
  background: #2a3150;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all .3s; 
}

.form__input::-webkit-input-placeholder {
  color: #fff;
  letter-spacing: 3px; 
}

.form__label {
  color: #fff !important;
  letter-spacing: 3px;
  font-size: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  transition: all .3s; 
}

.form__input:focus, 
.form__input:valid {
  border-bottom: 2px solid #fff; 
}

.form__input:focus + .form__label,
.form__input:valid + .form__label {
  left: .4rem;
  top: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fff; 
}

.form__group--textarea {
  position: relative;
  margin-bottom: 3rem; 
}

.form__textarea {
  background: #2a3150;
  outline: none;
  border: none;
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  color: #fff;
  font-size: 1.5rem; 
}

.form__label--textarea {
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  transition: all .3s; 
}

.form__textarea:focus ~ .form__label--textarea {
  left: .4rem;
  top: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fff; 
}

.form__btn {
  align-self: flex-start;
  width: 20rem;
  background: transparent;
}

/*--- contact details --*/

.contact {
  border-left: 1px solid #343b60;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.contact p, 
.contact address {
  color: #fff;
  font-size: 1.6rem; 
}

.contact__text--link:link,
.contact__text--link:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem; 
}

.contact__email, 
.contact__phone, 
.contact__address {
  border-bottom: 1px solid #343b60;
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.contact__address {
  border-bottom: none;
}

/* ================================================================================================================================ */
/* Footer
*/

.footer {
  background: #323232;
  padding: 5rem;
}

.footer__img {
  height: 5rem;
}

.footer__img-box {
  margin-top: 4rem;
}

.footer__ul {
  list-style: none;
  display: flex;
  justify-items: center;
  margin-top: 2rem;
}

.footer__item {
  
}

.footer__item:not(:last-child) {
  margin-right: 2rem;
}

.footer__link:link,
.footer__link:visited {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 3px;
  border: 1px solid transparent;
  transition: all .3s;
}

.footer__link:link:hover,
.footer__link:visited:hover {
  border-bottom: 1px solid #72BCFF;
  color: #72BCFF;
}

.footer__text {
  color:#fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: -3rem;
}

.footer__social-ul {
  list-style: none;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
}

.footer__social-item {
  
}

.footer__social-link {
  text-decoration: none;
  font-size: 4rem;
  color: #fff;
  transition: all .3s;
}

.footer__social-link:hover {
  color: #72BCFF;
}
/* ================================================================================================================================ */
/* Grid
*/


.row {
  max-width: 114rem;
  margin: 0 auto;  
}
  .row:not(:last-child) {
    margin-bottom: 8rem; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both; 
  }

  .row [class^="col-"] {
    float: left;
  }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; 
    }

  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
  }

  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3);
    /* background: orangered; */
  }

  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem);
    /* background: orangered; */
   }

  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); 
    /* background: orangered; */
  }

  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); 
    /* background: orangered; */
  }

  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + 2 * 6rem);
    /* background: orangered; */
   }

/* Navbar specific css*/

nav {
   background-color:rgba(0, 0, 0, 0.3); 
    padding-right: 30px!important;
}

nav img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    width: 100%;
}

.light-img,
.dark-img {
  height: 5.5rem;
}

.navbar-nav li {
    font-size: 3em;
}

.nav-link {
    color: #fff;
}

.brighten {
  background-color: white;
  opacity: 0.9;
  /* border-bottom: 1px solid #019db3; */
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1); 
}

.hidden {
  display: none;
}

.show {
  display: block;
}

