/* primary-color-light: #72BCFF */
/* primary-color-dark: #005BB6  */
/* dark-blue:rgb(11, 11, 45) */
/* font-color-grey: #333 */
/* grey-light: #777 */

/* 1rem = 10px */


/* ============================================================================================== */  
/* Basic set up */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; }
  /*-- 10 / 16 * 100 --*/

body {
  box-sizing: border-box; 
}

/* ------------------------------------- */
/*  REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 114rem;
    margin: 0 auto; 
}

.box {
    padding: 1%;
}

/* ============================================================================================== */  
/* Typography/ Headings */

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  animation: moveInLeft 1s;
  backface-visibility: hidden; 
}

  .heading-primary--main {
    display: block;
    color: #fff;
    letter-spacing: .2rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    background-image: linear-gradient(to right, #005BB6, #72BCFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
  }

  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    color: #f2f2f2;
    letter-spacing: .1rem; }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: transparent;
  background-image: linear-gradient(to right, #005BB6, #72BCFF);
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-secondary--sub {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(94, 94, 94));
  -webkit-background-clip: text;
  background-clip: text;
}


.heading-secondary--white {
  color: #fff;
  font-weight: 300;
  opacity: .9;
}

.heading-secondary--black {
  font-weight: 400;
  color: transparent;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(94, 94, 94));
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-tertiary {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; 
}
    


/*--------------------Paragraphs--------*/

.paragraph-main{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2rem;
    margin-top:3rem;
    color: #333;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

.paragraph-sub{
    line-height: 145%;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 10px;
    margin-top:10px;
    color: #333;
    font-size: 170%;
    text-align: center;
    font-weight: 300;
}



/* ============================================================================================== */  
/* Keyframes/Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px) 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0) }
   }
    
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px)
   }
    100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0) } 
  }
    
@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px) 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0) }
   }
    
@keyframes fadeIn {
  0% {
    opacity: 0;
   }
  60% {
    border: 1px solid #72BCFF;
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
   }
  100% {
    opacity: 1; } 
  }

/* ============================================================================================== */    
/* Utilities */

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4rem !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-xsmall {
  margin-top: 2rem !important; }

/* ============================================================================================== */   
/* Buttons */

.btn, 
.btn:link, 
.btn:visited, 
input[type=submit] {
  color: #fff;
  text-decoration: none;
  padding: 1rem 4rem;
  border: 1px solid #005BB6;
  border-radius: 2rem;
  font-size: 2rem;
  display: inline-block;
  transition: .3s; 
}

input[type=submit] {
    color: #005BB6;
}

.btn:hover, 
input[type=submit]:hover {
  border: 1px solid #72BCFF;
  transform: scale(1.01); 
}

.btn__animated {
  animation: fadeIn 2s .5s backwards;
  transform: scale(1.01); 
}

.btn-colour, 
.btn-colour:link, 
.btn-colour:visited, 
input[type=submit], {
    background-color: #72BCFF;
    border: 1px solid #005BB6;
    color: #fff;
    text-align: center;
    margin-left: 10%;
}

.btn-colour:hover, 
input[type=submit]:hover, {
    background-color: #005BB6;
    border: 1px solid #005BB6;
    color: #fff;
    margin-left: 10%;
} 

.btn--light-blue {
  color: #72BCFF;
  border: 1px solid #72BCFF;
  border-radius: 1rem; 
}

.btn--light-blue:hover {
  border: 1px solid #005BB6;
  color: #005BB6;
  transform: scale(1.01); 
}


/* ============================================================================================== */   
/* Navigation   */

.nav__list {
  position: absolute;
  top: 4rem;
  right: 4rem; 
}

.nav__item {
  list-style: none;
  font-size: 2.2rem; 
}

.nav__link:link, 
.nav__link:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: transparent;
  transition: all .3s;
  animation: moveInRight 1.2s; 
  backface-visibility: hidden;
}

.nav__link:link:not(:last-child), 
.nav__link:visited:not(:last-child) {
  margin-right: 1rem; 
}

.nav__link:hover, 
.nav__link:active {
  color: #72BCFF;
  border-bottom: 1px solid #72BCFF; 
}



/*  SECTIONS  ============================================================================= */



/*  GROUPING  ============================================================================= */

.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content:"";
  display:table;
}
.row:after {
  clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}


/*  GRID OF THREE   ============================================================================= */

	
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */


.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}

/* ============================================================================================== */
/* header */

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(22, 22, 22, 0.8), rgba(28, 56, 83, 0.2)), url(../img/header-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.heading-text-box {
  position: absolute;
  top: 30rem;
  left: 10rem;
  padding: 1rem; 
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem; 
}

.logo {
  height: 8rem; 
}

/* ============================================================================================== */
/* bottom */

.bottom-nav {
  height: 10vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: space-around;
  align-items: center; 
}  
  
  .bottom-nav__link {
    display: inline-block;
    font-size: 3rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #005BB6, #72BCFF);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    animation: moveInTop 1s; 
  }

  .bottom-nav__link:hover {
    background-image: linear-gradient(to right, #72BCFF, #005BB6);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; 
  }


/* ============================================================================================== */
/* SECTIONS */
/* ============================================================================================== */


/*------------- Spaces Section -----------------*/

/*----- spaces section heading  -----*/
.section-spaces__heading {
  background: #fff;
  padding: 9rem 0;
  background: #ffffff;
  border-top: 1px solid #72BCFF;
  border-bottom: 1px solid #72BCFF; 
}

.section-spaces__heading p {
  margin: 0 auto;
  font-size: 2rem;
  width: 50%; 
}

/*-----------------------*/

.spaces__meeting,
.spaces__theatre,
.spaces__desk,
.spaces__gallery {
  padding: 15rem 0 19rem 0; 
}


/*----- spaces background  -----*/
.spaces__meeting {
  background-image: linear-gradient(-90deg, #ffffff 0%, #ffffff 35%, #6ead45 100%);
  border-bottom: 1px solid #72BCFF; 
}

.spaces__theatre {
  background-image: linear-gradient(-90deg, #c0612b 0%, #ffffff 65%, #ffffff 100%);
  border-bottom: 1px solid #72BCFF; 
}

.spaces__desk {
  background-image: linear-gradient(-90deg, #ffffff 0%, #ffffff 35%, #8f4b7c 100%);
  border-bottom: 1px solid #72BCFF; 
}

.spaces__gallery {
  background-image: linear-gradient(-90deg, rgba(0, 91, 182, 0.8) 0%, #ffffff 65%, #ffffff 100%);
  border-bottom: 1px solid #72BCFF; 
}


/*------ spaces heading -----*/
.spaces__heading {
  position: relative;
  background: #0b0b2d;
  padding: 4rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.spaces__heading--right {
  left: -5rem;
  padding-left: 14rem; 
}

.spaces__heading--left {
  left: 5rem;
  padding-left: -14rem; 
}

/*------ spaces text -----*/
.spaces__text-box {
  position: relative;
  font-size: 2rem; 
}

.spaces__text-box--right {
  top: 5rem;
  left: 12rem; 
}

.spaces__text-box--left {
  top: 5rem;
  left: -7rem; 
}

.spaces__list {
  list-style: none; 
}

.spaces__list--right {
  text-align: right !important; 
}

.spaces__item {
  margin: 1rem 1rem 1rem 0;
  position: relative; 
}

.spaces__item--left, 
.spaces__item--right {
  display: inline-block;
  width: 2.5px;
  height: 3rem;
  background: #72BCFF; 
}

.spaces__item--left {
  margin-right: .5rem; 
}

.spaces__item--right {
  margin-left: .5rem;
  text-align: right; 
}


/*------ spaces image -----*/
.spaces__image {
  width: 120%;
  position: relative;
  border-radius: 2px;
  z-index: 20;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  filter: brightness(90%); 
}

.spaces__image-theatre, 
.spaces__image-gallery {
  height: 40rem; 
}

.spaces__image--left {
  left: -2rem;
  top: 5rem; 
}

.spaces__image--right {
  right: 5rem;
  top: 5rem; 
}

/* ============================================================================================== */  

/*------- Testimonials Section ----- */

.section-testimonials {
  background: rgb(50, 102, 180);
  padding: 9rem;
  z-index: 100;
  position: relative;
}

.section-testimonials:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../img/cement.JPG);
  filter: blur(1px);
  opacity: .25;
  top: 0;
  left: 0;
  background-size: cover;
}


.testimonials__box {
  background: rgb(58, 58, 58);
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  padding: 2rem;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 3.8rem 2rem 2rem 2rem;
}

.testimonials__box--middle {
  top: 3rem;
}

.testimonials__box:after {
  content: '';
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: rgb(58, 58, 58);
  transform: rotate(225deg) translateX(-50%);
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 45%;
  bottom: -.4rem;
}

.testimonials__img {
  position: absolute;
  height: 7rem;
  border-radius: 3px;
  border: 1px solid #fff;
  left: 2rem;
  top: -4rem;
}

.testimonials__text {
  font-style: italic;
}

.testimonials__text:before {
  content: '\201C';
  font-size: 2rem;
}

.testimonials__client {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  position: relative;
}

.testimonials__client--middle {
  top: 3rem;
}


.testimonials__client-name {
  font-size: 1.6rem;
}

.testimonials__client-company {

}

.down-arrow {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(225deg);
  height: 2rem;
  width: 2rem;
}

/* ============================================================================================== */
/* Upcoming Events */
/* ============================================================================================== */

.section-events{
  padding: 10rem;
  height: 100vh;
  background-color: rgba(114, 188, 255, 0.19);
}

.section-events .main-date {
    line-height: 145%;
    width: 100%;
    margin-left: 15%;
    margin-bottom: 3px;
    margin-top:10px;
    color: #333;
    font-size: 200%;
    text-align: right;
    font-weight: 300;
}

.section-events .paragpragh-main {
    text-align: left;
    margin-bottom: 3px;
    margin-top:3px;
}

.section-events .paragpraph-sub {
    text-align:left;
    margin-bottom: 3px;
    margin-top:3px;
    margin-left: 15%;
}

.section-events .main-date span {
    font-size: 75%;
    font-weight: 300;
}

.event-img {
  width: 100%;
}
/* ============================================================================================== */
/* Contact Form*/

.section-form{
    padding: 0;
    height: 100vh;
    background-color: #fff;
}
.contact-form {
    width: 60%;
    margin: 20px auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 85%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

textarea {
    height: 100px;
}

*:focus {outline:none}


/* ================================================================================================================================ */
/*
*/


.row {
  max-width: 114rem;
  margin: 0 auto;  
}
  .row:not(:last-child) {
    margin-bottom: 8rem; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both; 
  }

  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; 
    }

  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); 
  }

  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); 
  }

  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem);
   }

  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); 
  }

  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); 
  }

  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + 2 * 6rem);
   }

/* Navbar specific css*/

nav {
   background-color:rgba(0, 0, 0, 0.5); 
    padding-right: 30px!important;
}

nav img {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    width: 100%;
}

.navbar-nav li {
    font-size: 3em;
}

nav .nav-link {

}

nav .green {
    color: #6ead45;
}
nav .green:hover {
    color: #507f32;
}
nav .orange {
    color: #c0612b;
}
nav .orange:hover {
    color: #944a21;
}
nav .blue {
    color: #019db3;
}
nav .blue:hover {
    color: #006674;
}
nav .purple {
    color: #8f4b7c;
}
nav .purple:hover {
    color: #7b3b69;
}

