* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #f4f4f4;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#020202;
    font-size: 170%;
    word-spacing: 4px;
    letter-spacing: 1px; 
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid #020202;
    
}

.img-box {
    text-align: center;
}

.logo {
    height: 50px;
    margin: 20px auto;
    display: inline-block;static
    text-align: center;
    }

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 0px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #020202;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0,2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #020202;
}
.steps-box {
    margin-top: 10px;
}
.name-title {
    text-align: center;
}
.steps-box:first-child {
    text-align: center;
    padding-left: 15%;
    float: left;
}
.steps-box:last-child {
    padding-left: 10%;
    float: left;
    text-align: center;
    
}
.works-step div {
    color: #020202;
    display: inline-block;
    padding: 5px;
    font-size:150%; 
}
