* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: transparent;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    width: 100%;
}
body {
  background-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#020202;
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid #020202;
}
.img-box {
    margin: 0 auto;
}
.steps-box {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}
.name-title {
    text-align: center;
}
.works-step {
    color: #fff;
    display: inline-block;
    padding: 15px;
    font-size:85%;
}
.works-step p{
  
}
.sticky{
  position: fixed;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  background-color: black !important;
  font-size: 2em;
  z-index: 10;
}

.steps-heading {
    width: 100%;
    float: left;
    box-sizing: border-box;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 1em;
}
