<!DOCTYPE html>

<html>
    <head>
        <title> About Cspace</title>
        <link rel="stylesheet" type="text/css" href="resources/css/about.css">
        
        
        <body>
            <h1> About Cspace </h1>
            <p class="main text">
                At <strong>cSPACE King Edward</strong>, our mission is to provide the conditions that diverse communities of creatives need to remain vital, sustainable and innovative while generating dividends for Calgarians across the city.
                
            Shared Space – Affordable, flexible and inspiring spaces that are responsive to the evolving needs of new artistic practices, missions and enterprises while delivering unique gathering places for all Calgarians



            
            
            
            
            
            </p>
            <img src="resources/img/aboutcSpace.jpg" alt=" cSpace hallway" >
            <img src="resources/img/aboutCspace1.jpg" alt=" cSpace outside">
        
        
        
        
        </body>
    
    
    
    </head>











</html>
