<!DOCTYPE html>

<html>
    <head>
        <title> About Cspace</title>
        <link rel="stylesheet" type="text/css" href="resources/css/about.css">
        
        
        <body>
            <div class=" aboutcontainer">
                
                <h1 class="title"> About Cspace </h1>
           
                
                    <p class="aboutmain text">
                        At <strong>cSPACE King Edward</strong>, our mission is to provide the conditions that diverse communities of creatives need to remain vital, sustainable and innovative while generating dividends for Calgarians across the city.

                        Shared Space – Affordable, flexible and inspiring spaces that are responsive to the evolving needs of new artistic practices, missions and enterprises while delivering unique gathering places for all Calgarians.

                    </p>
            
                </div>
            
            <div class="parentimage"> 
            <img class="aboutimg1"src="resources/img/aboutcSpace.jpg" alt=" cSpace hallway" width=" 500px" height="250">
            
            
           <img class="aboutimg2"src="resources/img/aboutCspace1.jpg" alt=" cSpace outside" width="500" height="250">
            </div>
        
        
        
        
            
            
            
            
        </body>
    
    
    
    </head>











</html>
