<doctype html>
<html>
  <head>
    <!-- change to be loaded dynmically with jinja -->
    <title>Administrator</title>
    <link rel="stylesheet" type="text/css" href="resources/css/admin.css">
  </head>
  <body>
    <div id="dashboard">
      <!-- Anna will implement this part of the dashboard-->
      <div class="left-menu dashboard-item">
        <h1>ANNA</h1>
      </div>

      <!-- Ryker will implement this part of the dashboard-->
      <div class="calender dashboard-item">
        <h1>RYKER</h1>
      </div>

      <!-- Whoever will implement this part of the dashboard-->
      <div class="chat dashboard-item">
        <h1>WHOEVER</h1>
      </div>

      <!-- Barry will implement this part of the dashboard-->
      <div class="events dashboard-item">
        <h1>BARRY</h1>
      </div>

      <!-- Ryker will implement this part of the dashboard-->
      <div class="invoices dashboard-item">
        <h1>RYKER</h1>
      </div>
  </body>
</html>
