<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="static/css/admin_working.css">

    <title>Administration Page</title>
</head>
<body>
    <h1>Administration Page</h1>
        <div class="container">
            <div class="images">
                <div class="links" id="clients">
                    <a href="clients"><img src="static/img/clients1.jpg" alt="Clients" width="150" height="150"></a>
                    <h5>Clients</h5>
                </div>
                <div class="links" id="credits">
                    <a href="credits"><img src="static/img/20150729_CanadianMoney_Long.jpg" alt="Credits" width="150" height="150"></a>
                    <h5>Credits/Month</h5>
                </div>
                <div class="links" id="calendar">
                    <a href="calendar"><img src="static/img/events-calendar.jpg" alt="Calendar" width="150" height="150"></a>
                    <h5>Calendar</h5>
                </div>
            </div>
        </div>

    <a href="/">Back</a>
    
</body>
</html>