<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Bookings</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/calendar.css">
    <script src="static/js/calendar.js"></script>
</head>
<body>
<div class="container">
    <div id="tooltip"></div>
    <div class="month-tabs">
        {% for month in tempData %}
            <div id="month-tab-{{month}}" class="month-tab-info" onclick="showmonth('{{ month }}');">{{ month }}</div>
        {% endfor%}
    </div>

    {% for month, info in tempData.items() %}
      <div id="{{month}}" class="booking-container">
        <div class="booking-calendar"
        style="grid-template-columns: 3.5fr repeat({{ info.maxcols }}, 1fr); grid-template-rows: 2em repeat({{ info.maxrows}}, 1.5em);">
            {% for i in range(info.maxcols+1) %}
                {% if i > 0 %}
                    <div class="calendar-day">
                        <div class="calendar-day-day">{{ i }}</div>
                        <div class="calendar-day-weekday">{{info.dayheader[i-1]}}</div>
                    </div>
                {% else %}
                    &nbsp;
                {% endif %}
            {% endfor %}

            {% for room, booking_data in info.bookings.items() %}
                <div class="calendar-room">
                    {{ room }}
                </div>
                {% for booked in booking_data %}
                    {% if booked %}
                        <div class="calendar-booking-booked" style='background-color: {{ rates[facilities[room].type].Color }}'
                             onmousemove="showTooltip('{{ clients[booked].name }}');"
                             onmouseleave="closeToolTip();">
                    {% else %}
                        <div class="calendar-booking-empty"
                             onclick="showBookingAlert();">
                    {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
      </div>
    {% endfor%}

    <div class="rating-container">
        <div class="ratings">
            <div>Rates</div>
            {% for rate, type in rates.items() %}
                <div style='background-color: {{ type.Color }};'>
                    <span class="ratings-rate">{{ type.Credits }}</span><br>
                    <span class="ratings-type">{{ rate }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>



