<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/client_info_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>Client page</title>
</head>

<body>

    <div class="client-text">
        <h1> {{ clients[name].first_name }} {{ clients[name].last_name }} </h1>
        <img src="/static/img/clientPhotos/owl.png" alt="Client Photo" class="client-photo">

        <ul class="client-contact-info">
            <li>Phone: {{clients[name].phone}}</li>
            <li>Email: {{clients[name].email}}</li>
        </ul>

        <ul class="client-info">
            <li>Payment Method: {{clients[name].payment_method}}</li>
            <li>Payment Status: {{clients[name].payment_status}}</li>
            <li>Issues: {{clients[name].issues}}</li>
            <li>Notes: {{clients[name].notes}}</li>
        </ul>
    </div>

    <h2>Upcoming Events:</h2>

    <div class="client-left-col">
        <ul class="client-nav">
            <li><a href="#">Update</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="/clients">Back to client list</a></li>
        </ul>

    </div>

</body>

</html>
