<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clients.css') }}" />
</head>
<body>
    <table class="client-table">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        {% for key, client in clients.items() %}
        <tr>
            <td><a class="client-button" href="/clients/{{key}}">{{client.name}}</a></td>
            <td><a class="client-button" href="/clients/{{key}}">{{client.phone}}</a></td>
            <td><a class="client-button" href="/clients/{{key}}">{{client.email}}</a></td>
        </tr>
        {% endfor %}

        <a href="/admin"><h1>Back</h1></a>
    </table>
</body>
</html> 