<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Client Credits Page</title>
</head>
<body>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-2018-07-tab" data-toggle="pill" href="#v-pills-2018-07" role="tab" aria-controls="v-pills-2018-07" aria-selected="true">2018-07</a>
            <a class="nav-link" id="v-pills-2018-08-tab" data-toggle="pill" href="#v-pills-2018-08" role="tab" aria-controls="v-pills-2018-08" aria-selected="false">2018-08</a>
            <a class="nav-link" id="v-pills-2018-09-tab" data-toggle="pill" href="#v-pills-2018-09" role="tab" aria-controls="v-pills-2018-09" aria-selected="false">2018-09</a>
            <a class="nav-link" id="v-pills-2018-10-tab" data-toggle="pill" href="#v-pills-2018-10" role="tab" aria-controls="v-pills-2018-10" aria-selected="false">2018-10</a>
            <a class="nav-link" id="v-pills-2018-11-tab" data-toggle="pill" href="#v-pills-2018-11" role="tab" aria-controls="v-pills-2018-11" aria-selected="false">2018-11</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-2018-07" role="tabpanel" aria-labelledby="v-pills-2018-07-tab">
                <div class="credits-container">
                        <iframe class="credits-iframe" style="width:100%; height:100%;" src="/2018-07" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-2018-08" role="tabpanel" aria-labelledby="v-pills-2018-08-tab">
                <div class="credits-container">
                        <iframe class="credits-iframe" style="width:100%; height:100%;" src="/2018-08" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-2018-09" role="tabpanel" aria-labelledby="v-pills-2018-09-tab">
                <div class="credits-container">
                        <iframe class="credits-iframe" style="width:100%; height:100%;" src="/2018-09" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-2018-10" role="tabpanel" aria-labelledby="v-pills-2018-10-tab">
                <div class="credits-container">
                        <iframe class="credits-iframe" style="width:100%; height:100%;" src="/2018-10" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-2018-11" role="tabpanel" aria-labelledby="v-pills-2018-11-tab">
                <div class="credits-container">
                        <iframe class="credits-iframe" style="width:100%; height:100%;" src="/2018-11" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>