<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/main.css">

    <title>cSpace</title>
</head>
<body>
    <header class="header">
        <div class="logo-box">
            <img src="resources/img/cSpace-logo.png" alt="logo" class="logo">
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Who we are</a>
                    <a href="#" class="nav__link">What we do</a>
                    <a href="#" class="nav__link">Projects</a>
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="heading-text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Never stop creating.</span>
                <span class="heading-primary--sub">Creativity. Community. Collaboration. Change.</span>
            </h1>
            
            <div class="book-now u-margin-top-small">
                <a href="#" class="btn btn__animated">Book Now</a>
            </div>
        </div>
    </header>
    <div class="bottom-nav">
        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Spaces</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Community</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Coworking</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Events</a>
        </div>
    </div>

    <main>
       
    </main>
</body>
</html>