<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/main_spaces+clients.css">

    <title>cSpace</title>
</head>
<body>
    <header class="header">
        <div class="logo-box">
            <img src="resources/img/cSpace-logo.png" alt="logo" class="logo">
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Who we are</a>
                    <a href="#" class="nav__link">What we do</a>
                    <a href="#" class="nav__link">Projects</a>
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="heading-text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Never stop creating.</span>
                <span class="heading-primary--sub">Creativity. Community. Collaboration. Change.</span>
            </h1>
            
            <div class="book-now u-margin-top-small">
                <a href="#" class="btn btn__animated">Book Now</a>
            </div>
        </div>
    </header>
    <div class="bottom-nav">
        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Spaces</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Community</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Coworking</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Events</a>
        </div>
    </div>

    <section class = "section-spaces">
        <div class = "row">
            <h2 class="heading-secondary"> Our Spaces &mdash; Inspire Your Team Today </h2>
            <p class = "main">
                Located in a vibrant, arts-friendly neighbourhood near downtown, cSPACE King Edward merges century-old historic fabric, leading edge technology and a vital community of creatives to offer Calgary’s most distinctive event, meeting and exhibition spaces.
            </p>
        </div>
        <div class = "row">
            <div class = "col span-1-of-4 box">
                <h3 class = "heading-spaces">Meetings</h3>
                <img src="resources/img/Meeting.jpeg" alt="Meeting Space">
                <p class = "sub">Our meeting spaces are great. The Treehouse fits over 50 people</p>
                <a href="#" class="btn btn-colour">Book Now</a>
            </div>
            <div class = "col span-1-of-4 box">
                <h3 class = "heading-spaces">Desks</h3>
                <img src="resources/img/Desk.jpg" alt="Desks" >
                <p class = "sub">We have a coworking space called the sandbox which is great</p>
                <a href="#" class="btn btn-colour">Book Now</a>

            </div>
            <div class = "col span-1-of-4 box">
                <h3 class = "heading-spaces">Theatre</h3>
                <img src="resources/img/Theatre.jpg" alt="Theater" >
                <p class = "sub">We have a world class theatre that fits over 300 people</p>
                <a href="#" class="btn btn-colour">Book Now</a>
            </div>
            <div class = "col span-1-of-4 box">
                <h3 class = "heading-spaces">Gallery</h3>
                <img src="resources/img/Gallery.jpg" alt="Gallery" >
                <p class = "sub">Check out our awesome galleries!</p>
                <a href="#" class="btn btn-colour">Book Now</a>
            </div>
            

                
        </div>
        
    </section>
    <section class = "section-clients">
        <div class = "row"> 
            <h2 class="heading-secondary"> Our Clients &mdash; Here what they have to say! </h2>
            <p class = "main">
                We’re home to some of Calgary’s most creative and collaborative artists, non-profits and inspired innovators.
            </p>
        </div>
        <div class = "row">
            <div class="col span-1-of-3">
                <blockquote>    
                    CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                        <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>    
                    CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                        <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>    
                    CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                        <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                </blockquote>
            </div>
        </div>

    </section>
    
    
    <main>
       
    </main>
</body>
</html>