<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/main.css">
    <title>cSpace</title>
</head>
<body>
    <header class="header">
     <nav class="navbar fixed-top navbar-expand-sm">
        <a class="navbar-brand" href="#">
          <img src="resources/img/cspace-logo.png" width="300"/>
        </a>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link green" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link purple" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav> 
    </header>
        <div class="heading-text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Never stop creating.</span>
                <span class="heading-primary--sub">Creativity. Community. Collaboration. Change.</span>
            </h1>
            
            <div class="book-now u-margin-top-small">
                <a href="#" class="btn btn__animated">Book Now</a>
            </div>
        </div>

    
    <div class="bottom-nav">
        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Spaces</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Community</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Coworking</a>
        </div>

        <div class="bottom-nav__link-box">
            <a href="#" class="bottom-nav__link">Events</a>
        </div>
    </div>

    <main>
        <section class="section-spaces">
            <div class="section-spaces__heading">
                <div class="u-center-text">
                    <h2 class="heading-secondary u-margin-bottom-small">
                        Our Spaces &mdash; Inspire Your Team Today
                    </h2>
                    <p>
                        Located in a vibrant, arts-friendly neighbourhood near downtown, cSPACE King Edward merges century-old historic fabric, leading edge technology and a vital community of creatives to offer Calgary’s most distinctive event, meeting and exhibition spaces.
                    </p>
                </div>
            </div>
            <div class="spaces__meeting"> 
                <div class="row">
                    <div class="col-1-of-2">
                        <img src="resources/img/meeting.jpeg" alt="spaces-meeting" class="spaces__image spaces__image--left">
                    </div>
                    <div class="col-1-of-2">
                        <div class="spaces__heading spaces__heading--right">
                            <h3 class="heading-tertiary">
                                Meeting
                            </h3>
                            <p>Our meeting spaces are great. The Treehouse fits over 50 people</p>
                        </div>
                        <div class="spaces__text-box spaces__text-box--right">
                            <ul class="spaces__list">
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>RGO Treehouse</li>
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>RGO Treehouse (North)</li>
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>RGO Treehouse (South)</li>
                            </ul>
                            <a class="btn btn--light-blue u-margin-top-xsmall">Learn more</a>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="spaces__theatre"> 
                <div class="row">
                    <div class="col-1-of-2">
                        <div class="spaces__heading spaces__heading--left">
                            <h3 class="heading-tertiary">
                                Theatre
                            </h3>
                            <p>We have a world class theatre that fits over 300 people</p>
                        </div>
                        <div class="spaces__text-box spaces__text-box--left">
                            <ul class="spaces__list spaces__list--right">
                                <li class="spaces__item">Studio Theatre<span class="spaces__item--right">&nbsp;</span></li>
                                <li class="spaces__item">Studio Theatre (North)<span class="spaces__item--right">&nbsp;</span></li>
                                <li class="spaces__item">Studio Theatre (South)<span class="spaces__item--right">&nbsp;</span></li>
                                <a class="btn btn--light-blue u-margin-top-xsmall">Learn more</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1-of-2">
                        <img src="resources/img/theatre.jpg" alt="spaces-theatre" class="spaces__image spaces__image-theatre spaces__image--right">
                    </div>
                </div>
            </div>
            <div class="spaces__desk"> 
                <div class="row">
                    <div class="col-1-of-2">
                        <img src="resources/img/desk.jpg" alt="spaces-desk" class="spaces__image spaces__image--left">
                    </div>
                    <div class="col-1-of-2">
                        <div class="spaces__heading spaces__heading--right">
                            <h3 class="heading-tertiary">
                                Desk
                            </h3>
                            <p>We have a coworking space called the sandbox which is great</p>
                        </div>
                        <div class="spaces__text-box spaces__text-box--right">
                            <ul class="spaces__list">
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>Lorem ipsum dolor sit amet</li>
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>Consectetur adipiscing elit</li>
                                <li class="spaces__item"><span class="spaces__item--left">&nbsp;</span>Blanditiis praesentium voluptatum</li>
                            </ul>
                            <a class="btn btn--light-blue u-margin-top-xsmall">Learn more</a>
                        </div>            
                    </div>
                </div>
            </div>
            <div class="spaces__gallery"> 
                <div class="row">
                    <div class="col-1-of-2">
                        <div class="spaces__heading spaces__heading--left">
                            <h3 class="heading-tertiary">
                                Gallery
                            </h3>
                            <p>We have a world class gallery that fits over 300 people</p>
                        </div>
                        <div class="spaces__text-box spaces__text-box--left">
                            <ul class="spaces__list spaces__list--right">
                                <li class="spaces__item">Lorem ipsum dolor sit amet<span class="spaces__item--right">&nbsp;</span></li>
                                <li class="spaces__item">Consectetur adipiscing elit<span class="spaces__item--right">&nbsp;</span></li>
                                <li class="spaces__item">Blanditiis praesentium voluptatum<span class="spaces__item--right">&nbsp;</span></li>
                                <a class="btn btn--light-blue u-margin-top-xsmall">Learn more</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1-of-2">
                        <img src="resources/img/gallery.jpg" alt="spaces-gallery" class="spaces__image spaces__image-gallery spaces__image--right">
                    </div>
                </div>
            </div>
        </section>

        <section class = "section-clients">
            <div class = "row"> 
                <h2 class="heading-secondary u-center-text"> Our Clients &mdash; Here what they have to say! </h2>
                <p class = "paragraph-main">
                    We’re home to some of Calgary’s most creative and collaborative artists, non-profits and inspired innovators.
                </p>
            </div>
            <div class = "row">
                <div class="col-1-of-3">
                    <blockquote>    
                        CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                            <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                    </blockquote>
                </div>
                <div class="col-1-of-3">
                    <blockquote>    
                        CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                            <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                    </blockquote>
                </div>
                <div class="col-1-of-3">
                    <blockquote>    
                        CSpace is just awesome! I just launched a startup using their meeting spaces and co-working space! Deeter and Reed are super friendly, I am so thankful to have this in my community
                            <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncans</cite>
                    </blockquote>
                </div>
            </div>

        </section>
        
        <section class = "section-events">
                <div class = "row">
                    <h2 class="heading-secondary u-center-text">Upcoming Public Events</h2>
                </div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="main-date">26 <span>/ Oct</span></div>
                    </div>
                    <div class="col-2-of-4">
                        <p class="paragraph-main">Exhibition: History of the Great Bambino</p> 
                        <p class="paragraph-sub">Come see images and artwork all about Babe Ruth
                                        and learn why many consider him the great 
                                        baseball player of all-time</p>                  
                    </div>
                    <div class="col-1-of-4">
                        <img src="resources/img/Meeting.jpeg" class="event-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="main-date">27 <span>/ Oct</span></div>
                    </div>
                    <div class="col-2-of-4">
                        <p class="paragraph-main">Farmers and Farmers Market at cSpace</p> 
                        <p class="paragraph-sub">Join us every Saturday 10 – 3, starting June 2 at the Farmers & Makers Market at cSPACE and enjoy an incredible selection of fresh produce, locally made, baked and grown goods, food trucks, live music, children’s activities, and more.</p>                  
                    </div>
                    <div class="col-1-of-4">
                        <img src="resources/img/Meeting.jpeg" class="event-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="main-date">31 <span>/ Oct</span></div>
                    </div>
                    <div class="col-2-of-4">
                        <p class="paragprah-main">cSpace Halloween Spooktacular!</p> 
                        <p class="paragraph-sub">Come join us in celebrating the spookiest holiday
                                        of the yeat. Prizes for best costumes.</p>                  
                    </div>
                    <div class="col-1-of-4">
                        <img src="resources/img/Meeting.jpeg" class="event-img">
                    </div>
                </div>
        </section>
        
        <section class = "section-form">
                <div class = "row">
                    <h2 class="heading-secondary">We're happy to hear from you</h2>
                </div>
                <div class="row">
                    <form method="post" action="#" class="contact-form">
                        <div class="row">
                            <div class="col-1-of-3">
                                <label for="name" class="main">Name</label>
                            </div>
                            <div class="col-2-of-3">
                                <input class="sub" type="text" name="name" id="name" placeholder="Your Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-3">
                                <label for="email" class="main">Email</label>
                            </div>
                            <div class="col-2-of-3">
                                <input class="sub" type="email" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-3">
                                <label for="find-us" class="main">How did you find us</label>
                            </div>
                            <div class="col-2-of-3">
                                <select class="sub" name="find-us" id="find-us">
                                    <option value="Friends" selected>Friends</option>
                                    <option value="Search">Search Engine</option>
                                    <option value="Ad">Advertisement</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-3">
                                <label class="main">Drop us a line</label>
                            </div>
                            <div class="col-2-of-3">
                                <textarea class="sub" name="message" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-3">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col-2-of-3">
                                <input class="main" type="submit" value="Send It!">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>